@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* , html, body, p {
    box-sizing: auto;
    font-family: 'Noto Sans', sans-serif;
    margin: 3px;
    padding: 0;
}
body{
    margin-top: auto;
    font-size: 24px;
}



.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 280px;
    padding: ;
    width: 200px;
    height:00px

}


.calc-container {
    display: grid;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

#input {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FDFEFE;
    padding-right: 10px;
    font-size: 3em;
    text-align: center;
    background-color: #223850;
    transition: all 0.3s ease-in
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    background-color:orangered;
    

}


.btn {
    display: flex;
    font-size: 1.2em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    transition: all 0.3s ease-in;
    border: 0.3px solid rgba(251, 253, 255, 0.171);

}

.dot {
    grid-column: span 2;
}

.equal {
    grid-row: span 2;
}

.btn-num {
    background-color: #223850;
    color: #6885A7;
}

.btn-num:hover {
    background-color: #233B55;
}

.btn-operator {

    background-color: #128094;
    color: #ffffff;
    
    
}

.btn-operator:hover {
    background-color: rgb(52, 155, 196) !important
}

.equal{
    background-color: #e77c18;
}